/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');


/*
  ? google fonts kullanım alanı 

* Regular:

    font-family: "Teachers", sans-serif;

* Italic:
    font-family: "Great Vibes", cursive;

* Monospace:
    font-family: "Rubik Mono One", monospace;
*/